
@model ReservationVM

<section class="header ftco-section">
    <div class="overlay"></div>
    <div class="row justify-content-center m-5">
        <div class="heading-section text-center ftco-animate">
            <span class="subheading">@Model.AppDetails[1].Heading</span>
            <h2 class="mb-4">@Model.AppDetails[1].SubHeading</h2>
            <p class="mb-4">@Model.AppDetails[1].Description</p>
        </div>
    </div>
    <img src="~/coffee/images/tree.png" class="tree translate" data-speed="-0.4" />
    <img src="~/coffee/images/statue.png" class="statue translate" data-speed="-0.2" />
    <img src="~/coffee/images/pool.png" class="pool translate" data-speed="0.6" />
    <img src="~/coffee/images/qonaq.png" class="qonaq translate" data-speed="0.9" />
    <img src="~/coffee/images/sky.jpg" class="sky translate" data-speed="1.2" />
</section>

<section class="ftco-intro under-paral">
    <div class="shadow"></div>
    <div class="container-wrap">
        <div class="wrap d-md-flex align-items-xl-end">
            <div class="info">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="icon"><span class="icon-phone"></span></div>
                        <div class="text">
                            <h3>@Model.AppDetails[0].PhoneNumber</h3>
                            <p>Nömrəmiz 7/24 zənginizə və sifarişlərinizə açıqdır.</p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="icon"><span class="icon-my_location"></span></div>
                        <div class="text">
                            <h3>@Model.AppDetails[0].Address</h3>
                            <p>İstirahətiniz üçün buradan daha gözəl yer tapa bilməyəcəksiniz</p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="icon"><span class="icon-clock-o"></span></div>
                        <div class="text">
                            <h3>Bazar Ertəsi - Bazar</h3>
                            <p>Həftənin 7 günü xidmət göstəririk</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section d-md-flex">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 pr-md-5">
                <div class="ftco-animate booking-form">
                    <form asp-action="Reserve" asp-controller="Reservation" name="subform" method="post" autocomplete="off">
                        <div class="form-group">
                            <input type="hidden" asp-for="Reservation.Id" />
                        </div>
                        <div class="form-group">
                            <div class="form-checkbox">
                                <label for="radio1">
                                    <input type="radio" id="radio1" name="Smoking">
                                    <span></span>Smoking
                                </label>
                                <label for="radio2">
                                    <input type="radio" id="radio2" name="Smoking">
                                    <span></span>Non-smoking
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input asp-for="Reservation.Name" class="form-control">
                            <label asp-for="Reservation.Name" class="form-label"></label>
                            <span asp-validation-for="Reservation.Name"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Reservation.PhoneNumber" type="tel" id="phone" class="form-control">
                            <label asp-for="Reservation.PhoneNumber" id="phoneLabel" class="form-label"></label>
                            <span asp-validation-for="Reservation.PhoneNumber"></span>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input asp-for="Reservation.StartTime" class="form-control">
                                    <label asp-for="Reservation.StartTime" class="form-label"></label>
                                    <span asp-validation-for="Reservation.StartTime"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input asp-for="Reservation.NumberOfGuest" class="form-control" />
                                    <label asp-for="Reservation.NumberOfGuest" class="form-label"></label>
                                    <span asp-validation-for="Reservation.NumberOfGuest"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <select asp-for="Reservation.DineInTableGroupId" class="form-control" asp-items="ViewBag.TblGrp" id="selected" onchange="getSelectValue(this)"></select>
                                    <span class="select-arrow arrow-down"></span>
                                    <label asp-for="Reservation.DineInTableGroupId" class="form-label"></label>
                                    <span asp-validation-for="Reservation.DineInTableGroupId"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <select asp-for="Reservation.DineInTableId" class="form-control" asp-items="ViewBag.DnInTbl"></select>
                                    <span class="select-arrow arrow-down"></span>
                                    <label asp-for="Reservation.DineInTableId" class="form-label"></label>
                                    <span asp-validation-for="Reservation.DineInTableGroupId"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="REZERV ET" class="float-right btn btn-primary btn-outline-primary px-4 py-3" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row ">
                    <div class="col-md-6 ">
                        <div class="menu-entry ">
                            <a href="#" class="img highlight show-on-scroll" style="background-image: url(/coffee/images/IMG_9201.jpg);"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="menu-entry mt-lg-4">
                            <a href="#" class="img highlight show-on-scroll" style="background-image: url(/coffee/images/small-2.jpg);"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="menu-entry">
                            <a href="#" class="img highlight show-on-scroll" style="background-image: url(/coffee/images/small-3.jpg);"></a>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="menu-entry mt-lg-4">
                            <a href="#" class="img highlight show-on-scroll" style="background-image: url(/coffee/images/small-4.jpg);"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section img" id="ftco-testimony" style="background-image: url('/coffee/images/IMG_9201.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">@Model.AppDetails[2].Heading</span>
                <h2 class="mb-4"><B>@Model.AppDetails[2].SubHeading</B></h2>
                <p>@Model.AppDetails[2].Description</p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="row ">
                    <div class="col-md-6 ">
                        <div class="menu-entry ">
                            <a href="#" class="img ftco-animate" style="background-image: url(/coffee/images/IMG_9201.jpg);"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="menu-entry mt-lg-4">
                            <a href="#" class="img ftco-animate" style="background-image: url(/coffee/images/IMG_9210.jpg);"></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="menu-entry">
                            <a href="#" class="img ftco-animate" style="background-image: url(/coffee/images/IMG_9217.jpg);"></a>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="menu-entry mt-lg-4">
                            <a href="#" class="img ftco-animate" style="background-image: url(/coffee/images/IMG_9225.jpg);"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pr-md-5">
                <div class="heading-section ftco-animate">
                    <span class="subheading">@Model.AppDetails[3].Heading</span>
                    <h2 class="mb-4">@Model.AppDetails[3].SubHeading</h2>
                    <p class="mb-4">@Model.AppDetails[3].Description</p>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles{
    <link href="~/coffee/css/parallax-scrolling.css" rel="stylesheet" />
    <link href="~/npm/intl-tel-input/build/css/intlTelInput.css" rel="stylesheet" />
    <link href="~/npm/toastr/build/toastr.min.css" rel="stylesheet" />
    <style>
        #phoneLabel {
            padding-left: 35px !important;
        }
    </style>
}

@section Scripts{
    <script src="~/coffee/js/parallax-scrolling.js"></script>
    <script src="~/npm/intl-tel-input/build/js/intlTelInput.min.js"></script>
    <script src="~/npm/toastr/build/toastr.min.js"></script>
    <script src="~/js/site.js"></script>  <!--toastra gore-->

    <script>
        function getSelectValue(sended) {
            if (typeof sended !== 'undefined') {
                var slctdIndx = sended.selectedIndex;
                var highlight = document.getElementsByClassName("highlight");
                for (var i = 0; i < highlight.length; i++) {
                    if (i == slctdIndx) {
                        highlight.item(i).classList.remove("jello-horizontal");
                        highlight.item(i).classList.add("jello-horizontal");
                    }
                    else {
                        highlight.item(i).classList.remove("jello-horizontal");
                    }
                }
            }
        }
        getSelectValue();
    </script>

    <script>
        if ("@ViewBag.Notify" == "Success")
            toastr["success"]("Rezervasiyanız Qeydə Alındı", "Təşəkkürlər!")
        else if ("@ViewBag.Notify" == "Error")
            toastr["error"]("Rezervasiyanız Qeydə Alınmaddı", "Xəta!")
    </script>

    <script>
        $("#phone").intlTelInput({
            initialCountry: "az",
            nationalMode: true,
        });
    </script>

}