
@model MenuVM

<section class="parallax ftco-section" id="ftco-testimony" style="background-image: url('/coffee/images/IMG_9276.jpg'); padding: 15%">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="heading-section text-center  ftco-animate">
                <span class="subheading">@Model.AppDetails[0].Heading</span>
                <h2 class="mb-4"> <B>@Model.AppDetails[0].SubHeading</B> </h2>
                <p>@Model.AppDetails[0].Description</p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row d-flex justify-content-center">
            @foreach (var group in Model.MenuItemGroups)
            {
            <div class="col-md-5  mb-5 pb-3">
                <h3 class="mb-5 heading-pricing ftco-animate">@group.MenuItemGroupName</h3>
                @foreach (var item in group.menuItems)
                {

                    
                    <div class="pricing-entry d-flex ftco-animate">
                <div class="img" style="background-image: url('../Uploads/Images/@item.ImagePath');"> </div>
                <div class="desc pl-3">
                    <a href="#@item.Id">
                        <div class="d-flex text align-items-center">
                            <h3> <span>@item.MenuItemName </span> </h3>
                            <span class="price">@item.Price ₼</span>
                        </div>
                        <div class="d-block">
                            <p>@item.MenuItemDescription </p>
                        </div>
                    </a>
                </div>
            </div>
                }
            </div>
            }
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="d-flex flex-wrap">
            @foreach (var group in Model.MenuItemGroups)
            {
                @foreach (var item in group.menuItems)
                {
                    <div class="ftco-animate col-lg-6 col-md-10 col-11 mx-auto" id="@item.Id">
                        <div class="card mb-3">
                            <div class="row no-gutters ">
                                <div class="item-dishes card-custom col-md-8  img-top overflow-hidden">
                                    <div class="text">
                                        <p class="dishes-price">@item.Price &#x20BC</p>
                                        <h2 class="dishes-heading">@item.MenuItemName </h2>
                                    </div>
                                    <img src="../Uploads/Images/@item.ImagePath">
                                </div>
                                <div class="col-md-4 testimony">
                                    <div class="card-body outerdiv">
                                        <h5 class="card-title">@item.MenuItemDescription </h5>
                                        <!-- <p class="card-text">@item.MenuItemDescription</p> -->
                                        <a class="btn btn-danger rounded-circle add-to-cart" asp-action="Buy" asp-controller="ShoppingCart" asp-route-id="@item.Id"><i class="fa fa-cart-arrow-down"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/npm/jquery-ui/ui/effect.js"></script> <!--add to cart-->
    <script src="~/npm/jquery-ui/ui/widget.js"></script> <!--add to cart-->
    <script src="~/npm/jquery-ui/ui/effects/effect-shake.js"></script> <!--add to cart-->
}
