
@model ProductVM

<section class="parallax ftco-section" id="ftco-testimony" style="background-image: url('/coffee/images/IMG_9276.jpg'); padding: 15%">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="heading-section text-center  ftco-animate">
                <span class="subheading">@Model.AppDetails[0].Heading</span>
                <h2 class="mb-4"> <B>@Model.AppDetails[0].SubHeading</B> </h2>
                <p>@Model.AppDetails[0].Description</p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-3">

                <form asp-controller="Menu" asp-action="Index" method="post">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                @*<select id="dropDownList-example" name="SelectedIds"
                                    asp-items="@Model.Categories" multiple class="form-control"></select>*@
                                @*@Html.DropDownListFor(x => x.Categories, new SelectList(Model.Categories, "CategoryId", "CategoryName"), htmlAttributes: new { @class = "formcontrol", id = "Subjects_dropdown" })*@

                                @Html.ListBoxFor(m => m.Product, new MultiSelectList(Model.Product, "CategoryId", "CategoryName"), new { @class = "form-control", multiple = "multiple", id = "Subjects_dropdown" })
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </form>
            </div>
            <div class="col-9">
                <div class="d-flex flex-wrap">
                    @foreach (var group in Model.Categories)
                    {
                        @foreach (var item in group.Products)
                        {
                            <div class="ftco-animate col-lg-6 col-md-10 col-11 mx-auto" id="@item.ProductId">
                                <div class="card mb-3">
                                    <div class="row no-gutters ">
                                        <div class="item-dishes card-custom col-md-8  img-top overflow-hidden">
                                            <div class="text">
                                                <p class="dishes-price">@item.Price &#x20BC</p>
                                                <h2 class="dishes-heading">@item.ProductName </h2>
                                            </div>
                                            @*<img src="../Uploads/Images/@item.ImagePath">*@
                                        </div>
                                        <div class="col-md-4 testimony">
                                            <div class="card-body outerdiv">
                                                <h5 class="card-title">@item.ProductDesc </h5>
                                                <!-- <p class="card-text">@item.ProductDesc</p> -->
                                                <a class="btn btn-danger rounded-circle add-to-cart" asp-action="Buy" asp-controller="ShoppingCart" asp-route-id="@item.ProductId"><i class="fa fa-cart-arrow-down"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

    </div>
</section>


@section Styles{
    <link href="~/coffee/css/bootstrap-multiselect.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">*@
}



@section Scripts{
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>*@
    <script src="~/coffee/js/bootstrap-multiselect.js"></script>
    <script>

        $(document).ready(function () {
            $('#Subjects_dropdown').multiselect();
        });

    </script>
    <!--<script src="~/npm/jquery-ui/ui/effect.js"></script>--> <!--add to cart-->
    <!--<script src="~/npm/jquery-ui/ui/widget.js"></script>--> <!--add to cart-->
    <!--<script src="~/npm/jquery-ui/ui/effects/effect-shake.js"></script>--> <!--add to cart-->
}