

@model List<MenuItemGroup>

<section class="ftco-section">
    <div class="container">
        <div class="row">

            @foreach (var group in Model)
            {
                <div class="col-md-6 mb-5 pb-3">
                    <h3 class="mb-5 heading-pricing ftco-animate">@group.MenuItemGroupText</h3>
                    @foreach (var item in group.menuItems)
                    {
                        <div class="pricing-entry d-flex ftco-animate">
                            <div class="img" style="background-image: url('@item.ImagePath');"></div>
                            <div class="desc pl-3">
                                <a href="#@item.MenuItemText">

                                    <div class="d-flex text align-items-center">
                                        <h3><span>@item.MenuItemText</span></h3>
                                        <span class="price">@item.Price ₼</span>
                                    </div>
                                    <div class="d-block">
                                        <p>@item.MenuItemDescription</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</section>



<section class="ftco-section">
    <div class="d-flex flex-wrap">
        @foreach (var group in Model)
        {
            @foreach (var item in group.menuItems)
            {
        <div class="col-md-6 col-11 mx-auto">

            <div  class=" card mb-3">
                <div class="row no-gutters ">
                    <div  style="background-image:url(./@item.ImagePath)" class=" card-custom col-md-8 col-sm-12 img-top overflow-hidden">
                        @*<img  src="@item.ImagePath" class=" card-img img-rsp img-spec" alt="...">*@
                    </div>
                    <div class="col-md-4 col-sm-12 ">
                        <div class="card-body transparent-custom">
                            <h5 class="card-title">@item.MenuItemText</h5>
                            <p class="card-text">@item.MenuItemDescription</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

            }
        }
        @*<div class=col-6 mb-1">
                <div class="menu-item " d-flex flex-row" style="background:whitesmoke" id="@item.MenuItemText">

                    <div class="col-md-8">
                        <a href="#" class="item-dishes">
                            <div class="text">
                                <p class="dishes-price">@item.Price</p>
                            </div>
                            <img src="https://dummyimage.com/600x400/bfd8e6/345222.png" alt="" class="img-fluid" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <div class="card-body">
                            <h5 class="card-title">@item.MenuItemText</h5>
                            <p class="card-text">@item.MenuItemDescription</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>*@



        @*<div class="card mx-lg-auto ftco-animate mb-lg-6 col-lg-6" id="@item.MenuItemText">
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <a href="#" class="item-dishes">
                            <div class="text">
                                <p class="dishes-price">@item.Price</p>
                            </div>
                            <img src="@Url.Content(item.ImagePath)" alt="" class="img-fluid" />
                        </a>
                    </div>
                    <div class="col-md-4 ">
                        <div class="card-body">
                            <h5 class="card-title">@item.MenuItemText</h5>
                            <p class="card-text">@item.MenuItemDescription</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>*@

    </div>
</section>

@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@

@section Scripts{



    <script>
        // ScrollSpy Smooth Animation
        $(document).ready(function () {
            $('body').scrollspy({ target: ".navbar", offset: 50 });
            $("#myNavbar a").on('click', function (event) {
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {
                        window.location.hash = hash;
                    });
                }
            });
        });
    </script>
}
