

@model List<MenuItemGroup>

<section class="ftco-section">
    <div class="container">
        <div class="row">

            @foreach (var group in Model)
            {
                <div class="col-md-6 mb-5 pb-3">
                    <h3 class="mb-5 heading-pricing ftco-animate">@group.MenuItemGroupText</h3>
                    @foreach (var item in group.menuItems)
                    {
                        <div class="pricing-entry d-flex ftco-animate">
                            <div class="img" style="background-image: url('@item.ImagePath');"></div>
                            <div class="desc pl-3">
                                <a href="#@item.MenuItemText">

                                    <div class="d-flex text align-items-center">
                                        <h3><span>@item.MenuItemText</span></h3>
                                        <span class="price">@item.Price ₼</span>
                                    </div>
                                    <div class="d-block">
                                        <p>@item.MenuItemDescription</p>
                                    </div>

                                </a>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</section>



@*<section class="ftco-section">
        <div class="row">

            @foreach (var group in Model)
            {
                @foreach (var item in group.menuItems)
                {
                    <div class="card mx-lg-auto ftco-animate mb-lg-5 col-lg-5">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <a href="#" class="item-dishes">
                                    <div class="text">
                                        <p class="dishes-price">@item.Price</p>
                                    </div>
                                    <img src="@item.ImagePath" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="col-md-6 ">
                                <div class="card-body">
                                    <h5 class="card-title">@item.MenuItemText</h5>
                                    <p class="card-text">@item.MenuItemDescription</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </section>*@

@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@

@section Scripts{



    <script>
        // ScrollSpy Smooth Animation
        $(document).ready(function () {
            $('body').scrollspy({ target: ".navbar", offset: 50 });
            $("#myNavbar a").on('click', function (event) {
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {
                        window.location.hash = hash;
                    });
                }
            });
        });
    </script>
}
