@model List<AppDetail>

<h1 class="h3 mb-4 text-gray-800">Sayt Düzəni</h1>
<div class="row">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="col-lg-6">
            <div class="card shadow mb-4 p-0">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Layout Səhifəsi üçün Məlumatlar</h6>
                </div>
                <div class="card-body">
                    <form asp-action="SavePage" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model[i].WebTitle" class="control-label"></label>
                                    <div class="input-container">
                                        <i class="fab fa-quora icon"></i>
                                        <input asp-for="@Model[i].WebTitle" class="form-control input-field" />
                                    </div>
                                    <span asp-validation-for="@Model[i].WebTitle" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model[i].PhoneNumber" class="control-label"></label>
                                    <div class="input-container">
                                        <i class="fas fa-phone icon"></i>
                                        <input asp-for="@Model[i].PhoneNumber" class="form-control input-field" />
                                    </div>
                                    <span asp-validation-for="@Model[i].PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model[i].EmailAddress" class="control-label"></label>
                                    <div class="input-container">
                                        <i class="fas fa-at icon"></i>
                                        <input asp-for="@Model[i].EmailAddress" class="form-control input-field" />
                                    </div>
                                    <span asp-validation-for="@Model[i].EmailAddress" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model[i].Facebook" class="control-label"></label>
                                    <div class="input-container">
                                        <i class="fab fa-facebook-f icon"></i>

                                        <input asp-for="@Model[i].Facebook" class="form-control input-field" />
                                    </div>
                                    <span asp-validation-for="@Model[i].Facebook" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model[i].Twitter" class="control-label"></label>
                                    <div class="input-container">
                                        <i class="fab fa-twitter icon"></i>
                                        <input asp-for="@Model[i].Twitter" class="form-control input-field" />
                                    </div>
                                    <span asp-validation-for="@Model[i].Twitter" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model[i].Instagram" class="control-label"></label>
                                    <div class="input-container">
                                        <i class="fab fa-instagram icon"></i>
                                        <input asp-for="@Model[i].Instagram" class="form-control input-field" />
                                    </div>
                                    <span asp-validation-for="@Model[i].Instagram" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model[i].Address" class="control-label"></label>
                            <div class="input-container">
                                <i class="fas fa-map-marker-alt icon"></i>
                                <input asp-for="@Model[i].Address" class="form-control input-field" />
                            </div>
                            <span asp-validation-for="@Model[i].Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model[i].About" class="control-label"></label>
                            <div class="input-container">
                                <i class="fas fa-info icon"></i>
                                <textarea asp-for="@Model[i].About" class="form-control input-field overflow-hidden"></textarea>
                            </div>
                            <span asp-validation-for="@Model[i].About" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="@Model[i].Id" />
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary btn-block" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>