@model List<AppDetail>


<h1 class="h3 mb-4 text-gray-800">Sayt Düzəni</h1>

@using (Html.BeginForm("PageOther", "SiteLayout", FormMethod.Post))
{
    <table>
        <tr>
            <th></th>
            <th>Contact Person</th>
            <th>Contact No</th>
            <th>Email ID</th>
        </tr>
        @for (int i = 1; i < Model.Count; i++)
        {
            <tr>
                <td> @Html.HiddenFor(model => model[i].Id)</td>
                <td>@Html.EditorFor(model => model[i].Heading)</td>
                <td>@Html.EditorFor(model => model[i].SubHeading)</td>
                <td>@Html.EditorFor(model => model[i].Description)</td>
            </tr>
        }
    </table>
    <p><input type="submit" value="Save" /></p>

}

<!-- #region old -->
@*<div class="row">

            @for (int i = 1; i < Model.Count; i++)
            {
                <div class="col-lg-6">
                    <div class="card shadow mb-4 p-0">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">@Model[i].WebTitle</h6>
                        </div>
                        <div class="card-body">
                            <form asp-action="PageOther" method="post">
                                <div class="form-group">
                                    <label asp-for="@Model[i].Heading" class="control-label"></label>
                                    <div class="input-container">
                                        <img class="icon" src="~/coffee/svg-icon/T1.svg" />
                                        <input asp-for="@Model[i].Heading" class="form-control input-field" />
                                    </div>
                                    <span asp-validation-for="@Model[i].Heading" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model[i].SubHeading" class="control-label"></label>
                                    <div class="input-container">
                                        <img class="icon" src="~/coffee/svg-icon/T2.svg" />
                                        <input asp-for="@Model[i].SubHeading" class="form-control input-field" />
                                    </div>
                                    <span asp-validation-for="@Model[i].SubHeading" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model[i].Description" class="control-label"></label>
                                    <div class="input-container">
                                        <img class="icon" src="~/coffee/svg-icon/T3.svg" />
                                        <textarea asp-for="@Model[i].Description" class="form-control input-field"></textarea>
                                    </div>
                                    <span asp-validation-for="@Model[i].Description" class="text-danger"></span>
                                </div>
                                <input type="hidden" asp-for="@Model[i].Id" />
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary btn-block" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>


    @section Styles{

        <style>
            .input-container {
                display: -ms-flexbox; /*IE10 */
                display: flex;
            }

            .icon {
                opacity: 0.8;
                padding: 10px;
                background: #4e73de;
                color: white;
                min-width: 42px;
                text-align: center;
                border-top-left-radius: 0.35rem;
                border-bottom-left-radius: 0.35rem;
            }

            .input-field {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

                .input-field:focus {
                    border: 2px solid #4e73de;
                }
        </style>
    }
*@
<!-- #endregion -->